EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_publishable_key_here
EXPO_PUBLIC_SUPABASE_KEY=your_supabase_key_here
EXPO_PUBLIC_DEV_GRANT_EXPLORER=1
EXPO_PUBLIC_DEV_AUTO_ANONYMOUS_AUTH=1